.cell{
  width: 40px;
  height: 40px;
  border: 1px solid;
  cursor: pointer;
  transition: .2s all;
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cell-active:hover{
  background-color: #cccccc;
}

.cell-dead{
  cursor: auto;
  background-color: antiquewhite;
}

.cell-container{
  display: flex;
  margin-bottom: -1px;
}

.cell-container-disabled{
  background-color: #cccccc;
  pointer-events: none;
}

.container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}

.field-container{
  position: relative;

}

.page-title{
  font-size: 42px;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.miss{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
}

.question-miss{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
}

.dead {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotate(45deg);
}

.dead:before, .dead:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: black;
}

.dead:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.dead:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.cell-wrapper{
  display: flex;
  align-items: center;
}

.cell-all-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cell-word{
  width: 5px;
  margin-right: 15px;
  text-align: center;
  font-weight: 500;
}

.cell-number{
  width: 40px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
}

.submitBtn{
  width: 100% !important;
  margin-top: 15px !important;
}

.container-disabled{
  pointer-events: none;
  background-color: #cccccc;
  opacity: 0.3;
}

.container-disabled:hover{
  background-color: #cccccc;
  opacity: 0.3;
}

.img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
  opacity: 0.3;
}


.under-text{
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
}